{% extends "base.twig" %}

{% block content %}
    <div class="container">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Le pourquoi de la création de ce blog</h1></br>
        <p> Développeuse d'application débutante ce blog est crée dans le but d'appliquer les cours que je suis en PHP.</br>
            Il me permettra aussi de valider le projet n°5 du parcours que je suis via l'école OPENCLASSROOMS.</br>
            Le métier de développeur demande énormément de pratique.
        </p>
            </div>
    </div>
{% endblock %}