{% extends "base.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for onePost in lesPosts %}
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            {{ onePost.titre }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ onePost.contenu | truncate(40) }}
                        </h3>
                    </a>
                    <p class="post-meta">Posté le {{ onePost.date_creation | date('d/m/Y', 'Europe/Paris') }}</p>
                </div>
                <hr>
            {% endfor %}

            <div class="clearfix"><a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a></div>
        </div>
    </div>
{% endblock %}